<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Students INFO</title>
     <!-- Custom styles for this template -->
</head>
<body>
    <h1>Students Registration</h1>  
    <form action="" method='get'>
        {{form.as_table}}
        <input type="submit" value="Submit">
    </form>
    <hr>

    <form action="" method='get'>
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <hr>    
    <form action="" method='get'>
        {{form.as_ul}}
        <input type="submit" value="Submit">
    </form>
    <hr>

    <form action="" method='get'>
        {{form.name}}
        <input type="submit" value="Submit">
    </form>

    <hr>
    <form action="" method='get'>
       {% for i in form %}
        {{i.label_tag}}
       {% endfor %}
       
    </form>
    <hr> 
    <hr>
    <form action="" method='get'>
       {% for i in form.visible_fields %}
        {{i.label_tag}}
       {% endfor %}
       
    </form>
  
</body>
</html>