<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Students INFO</title>
     <!-- Custom styles for this template -->
     <link href='{% static "enroll/css/style.css" %}' rel="stylesheet" />
</head>
<body>
    <h1>Registration Suceess</h1>  
    {% for i in data %}
    <a href="{% url 'Formdata' i.id  %}">Registration</a>
    <br>
    <a href="{% url 'home' %}">Back to home</a>
    {% endfor %}
    <br>
    <br>
    <table border='1'>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        {% for x in data %}
          <tr>
              <td>{{ x.name }}</td>
            <td>{{ x.email }}</td>
          </tr>
        {% endfor %}
      </table>


    <hr>
  
</body>
</html>