<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Students INFO</title>
     <!-- Custom styles for this template -->
     <link href='{% static "enroll/css/style.css" %}' rel="stylesheet" />
    
</head>
<body>
    <h1>Students Registration</h1>  
    
    <form action="" method='post' novalidate>
        {% csrf_token %}
        
        {{form.non_field_errors}}

        {% for field in form %}
            <div class="form-group">
                {{field.label_tag}} <br>
                {{field}}
                {% for error in field.errors  %}
                <span class="errorlist">
                    {{error}}
                </span>
                {% endfor %}
            </div>
        {% endfor %}
       
        {% comment %} {{form.as_table}} {% endcomment %}
        <input type="submit" value="Submit">
    </form>

    <hr>
  
</body>
</html>